.video-mixin__data {
  display: flex;
  justify-content: center;
  align-items: center;

  .video_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video_owner__avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
