.search__form {
  display: flex;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 60px;
  input {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 70%;
  }
  button {
    all: unset;
  }
  button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
}
