extends base
include mixins/video


block content
    ul 
        a(href="/videos/upload") upload Video  

        each video in videos 
            +video(video)
        else 
            li Sorry nothin found. 

    
