header
    a(href="/").header__logo
        i.fab.fa-youtube
    nav
        ul
            li
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout")  Log Out
                li
                    a(href=`/users/${loggedInUser._id}`) 
                        if (loggedInUser.avatarUrl)     
                            img.header__avatar(src=loggedInUser.avatarUrl,crossorigin)              
                        else 
                            img(src="https://i.pinimg.com/564x/1b/b6/9c/1bb69cc0f36b91756d1709e9330a2e1f.jpg").header__avatar
            else
                li
                    a(href="/login") Login                        
                li
                    a(href="/join").header__btn   Join
